<div class="container my-5">
  <div class="tab"></div>
  <div class="receipt">
  <div class="paper">
    <div class="title">Recibo de compra</div>
    <div class="date">Date: 20/07/2013</div>    
    <table>
      <tbody>
        <tr><td>2 x Coffee</td><td class="right">$10</td></tr>
         <tr><td>1 x Rice</td><td class="right">$30</td></tr>
        <tr><td>5 x Milk</td><td class="right">$90</td></tr>
        <tr>
            <td colspan="2" class="center">
            </td>
        </tr>
    </tbody>
    </table>
    <div class="sign center">
      <div class="barcode"></div>
      <br/>
      0123456789
      <br/>
      <div class="thankyou">
        Si su compra ha sido en efectivo, puede demorar hasta 48hs. Escanee el siguiente ticket en pago Facil o Rapipago para pagar su compra.
      </div>
    </div>
  </div>
  
  <div>
</div>