<section class="my-3" style="background-color: #eee;">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Carrito</h3>
         
        </div>

        <div class="card rounded-3 mb-4 sombra" *ngIf="carrito?.items?.length! > 0; else seleccionado">
          <app-carrito-item [item]="itemProducto" *ngFor="let itemProducto of carrito?.items"></app-carrito-item>
        </div>
        <ng-template #seleccionado>
          <div class="container">
                  <div class="row" style="height: 300px; background-color: rgb(223, 223, 223);">
                      <div class="col-12 d-flex justify-content-center alight-item-center">
                          <h1 style="display:flex; align-items: center; color: rgb(189, 189, 189);" >El carrito se encuentra vacio</h1>
                      </div>
                  </div>
          </div>
      </ng-template>
        
        
        <div class="card mb-4">
          <div class="card-body p-4 d-flex justify-content-between">
            <h2>Precio total:</h2>
            <h2 class="ms-auto">${{carrito?.precioTotal}}</h2>
          </div>
        </div>

        <div class="card" *ngIf="carrito?.items?.length! > 0">
          <div class="card-body">
                <button type="button" class="btn btn-filtro-activo btn-block btn-lg" routerLink="finalizar-compra" routerLinkActive="router-link-active" >Confirmar
                  compra
                </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>