    <div id="DIV_52">
        <div id="DIV_53">
            <div id="DIV_54">
                <form action="/mnyfe/secure/purchasev4" method="POST" name="purchaseInfoV4Form" id="FORM_55">
                    <div id="DIV_1">
                        <div id="DIV_2">
                            <div id="DIV_3">
                                <div id="DIV_4">
                                    <div id="DIV_5">
                                        <div id="DIV_6">
                                            YOUR ORDER
                                        </div>
                                        <div id="DIV_7">
                                            date
                                        </div>
                                        <div id="DIV_8">
                                        </div>
                                    </div>
                                </div>
                                <div id="DIV_9">
                                    <table id="TABLE_10">
                                        <tbody id="TBODY_11">
                                            
                                            <tr id="TR_20">
                                                
                                            </tr>
                                            <tr id="TR_24">
                                                <td colspan="3" id="TD_25">
                                                    <ul id="UL_26">
                                                        <li id="LI_27">
                                                            <div class="d-flex justify-content-between">
                                                                <span id="SPAN_28">100%-off Promotion</span>
                                                                <span id="SPAN_29">US$29.99</span>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot id="TFOOT_28">
                                            <tr id="TR_29">
                                                <th id="TH_30">
                                                    Total purchases
                                                </th>
                                                <td id="TD_31">
                                                </td>
                                                <td id="TD_32">
                                                    US$29.99
                                                </td>
                                            </tr>
                                            
                                            <tr id="TR_45">
                                                <th id="TH_46">
                                                    <span id="SPAN_47">Total</span>
                                                </th>
                                                <td id="TD_48">
                                                    <span id="SPAN_49"></span>
                                                </td>
                                                <td id="TD_50">
                                                    <span id="SPAN_51">US$0.00</span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>