
    <div class="card-sl">
        <div [routerLink]="[ publicaciones?.id]" routerLinkActive="router-link-active" class=" cursor" >
            <div class="card-image">
                <img src="../../../../assets/imagenes/{{publicaciones?.imagen}}" />
            </div>

            <div class="card-heading">
                {{publicaciones?.nombre}}
            </div>
            <div class="flex">
            <div>
                <p class="card-text">
                    {{publicaciones?.productoPersonalizado?.vendedor?.nombreTienda}}
                </p>
            </div>
            <!-- <div class="card-text">
                    Personalizacion marvel estampa
                </div> -->
            <div class="card-heading">
                ${{publicaciones?.productoPersonalizado?.precio}}
            </div>
            </div>
        </div>
        <a class="card-button cursor" (click)="agregarAlCarrito(publicaciones?.id)"> Añadir al carrito</a>
    </div>
