<!-- Renderizado de las tarjetas de las publicaciones -->
<!-- Rendering of the cards of the publications -->
    <div class="card-sl">
        <div [routerLink]="[ publicaciones?.id]" routerLinkActive="router-link-active" class=" cursor" style="background: white;">
            <div class="card-image">
                <img src="../../../../assets/imagenes/{{publicaciones?.imagen}}" />
            </div>

            <div class="card-heading">
                {{publicaciones?.nombre}}
            </div>
            <div class="flex">
            <div>
                <p class="card-text">
                    <img src="{{publicaciones?.productoPersonalizado?.vendedor?.logo}}" width="60" height="15" />
                </p>
            </div>
            <!-- <div class="card-text">
                    Personalizacion marvel estampa
                </div> -->
            <div class="card-heading text-success">
                ${{publicaciones?.productoPersonalizado?.precio}}
            </div>
            </div>
        </div>
        <!-- Cada vez que selecciono el boton añadir carrito se ejecuta el metodo agregarAlCarrito() de publicaciones.component.ts -->
        <!-- Each time I select the add to cart button the agregarAlCarrito() method of publicaciones.component.ts is executed -->  

        <a class="card-button cursor" (click)="agregarAlCarrito(publicaciones?.id)"> Añadir al carrito</a>
    </div>
