<div class="container my-5">
  <div class="tab"></div>
  <div class="receipt">
  <div class="paper">
    <div class="title">Recibo de compra</div>
    <div class="date">Fecha: {{fecha }}</div>    
    <table>
      <tbody>
         <tr *ngFor="let item of venta?.carrito?.items">
          <td>{{item.cantidad}} x {{item?.publicacion?.nombre}}</td>
          <td class="right">${{item?.subTotal}}</td>
        </tr>
        <tr>
            <td colspan="2" class="center">
            </td>
        </tr>
    </tbody>
    </table>
    <div class="sign center">
      <h1>Total: ${{venta?.carrito?.precioTotal}}</h1>
      <div class="barcode"></div>
      <br/>
      {{idTicket}}
      <br/>
      <div class="thankyou">
        Si su compra ha sido en efectivo, puede demorar hasta 48hs. Escanee el siguiente ticket en pago Facil o Rapipago para pagar su compra.
      </div>
    </div>
  </div>
  
  <div>
</div>