#header1{
    height: 100px;
}

#header1 > div{
    margin: auto 0;
}

#logo{
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex{
    display: flex;
    justify-content: space-between;
}

.carrito {
    position: relative;
}

.cursor{
    cursor: pointer;
}


.carrito > div {
    position: absolute;
    top: -11px;
    right: -12px;
    z-index: 1000;
    background-color: red;
    border-radius: 100%;
    width: 20px;
    color: white;
    justify-content: center;
    

}

.carrito > div > span {
    font-size: 12px;
    
}

.carrito-contenedor{
    width: 50px;
}

.box-vendedor{
    margin-top: 50px;
}



.centrar{
    margin: auto auto;
}

.card{
    width: 100%;
}

.btn-filtro{
    background-color:#f8f9fa;
    color: black;
    margin: .5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.font-12{
    font-size: 12px;
}

.btn-filtro-activo{
    background-color: #1F487E!important;
    color: rgb(219, 217, 217);
    border: 1px solid #0000001f;
    margin: .5px;
}

.btn-filtro-activo:hover{
    background-color: #082750!important;
    color: #d9d9db;
    border: 1px solid #0000001f;
    margin: .5px;
}

.titulo-tarjeta{
    margin: 0 !important;
}

.subtitulo-tarjeta{
    margin: 0 !important;
}

a{
    color: #343a40;
}

.logo-capgemini{
    width: 3%;
}

footer{
    padding-bottom: 20px;
}

/* tarjeta */
    /*  Helper Styles */
    body {
        background: #f1f1f1;
    }

    a {
        text-decoration: none;
    }

    /* Card Styles */

    .card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .card-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;

    }


    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        70% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
        }

        100% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
        }
    }

    .total-1{
        margin-top:100px;
        margin-left: 0px;
    }

    .sombra{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.096);
    }


    .box-precio-carrito{
        display: flex;
    }
    
    .box-precio-carrito > div{
        padding-right: 30px;
        padding-left: 20px;
        margin-top: 10px;
    }
    
    
    .text-25{
        font-size: 20px!important;
    }

    .linea-divisoria{
        border: 1px solid #0000001f;
        margin: 40px;
    }

    .color-primario{
        background-color: white!important;
        color: black;
    }

    @media (min-width: 768px) {
        .box-login{
            margin-top: 100px;
        }
    
        .login-fondo{
            background-color: #343a40!important;
            color: white;
            padding: 20px;
            border-radius: 10px;
        }
    }

    @media (max-width: 767px) {
        .box-login{
            margin-top: 0px;
        }
    
        .login-fondo{
            background-color: #343a40!important;
            color: white;
            padding: 20px;
            border-radius: 10px;
        }
    }

    /* RECIBO  */

.paid
{
 display:none;
  width:300px;
  margin:0 auto;
    background-color:#fff;
  text-align:center;
  padding-top:25px;
  border-radius:0px 0px 10px 10px;
  padding-bottom:25px; 
  color:#00773D;
  line-height:30px;
}
.paid p
{
  background-image:url("http://dc455.4shared.com/download/VILITso0/tsid20130720-183900-9216b81f/check.png");
  background-repeat:no-repeat;
  background-position:left center;
  padding-left:30px;
  width:190px;
  margin:0 auto;
}

.tab
{
  width:350px;
  margin:0 auto;
  height:10px;
  background-color:#2B2929;
  border-radius:50px
}
.receipt
{
   background-color:#FAFAF9;
  padding-top:20px;
width:300px;
  margin:-5px auto;
  border-radius:5px 5px 50px 50px;
  -moz-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.paper
{ 
  border-top:1px dashed #ccc;
  width:96%;
  margin:0 auto;
}
.title
{
  color:#00773D;
  margin-top:20px;
  margin-left:10px;
  font-weight:bold;
  float:left;
  font-size:16px;
  line-height:30px;
}
.date
{
  color:#00773D;
  margin-top:20px;
  margin-right:10px;
  font-weight:lighter;
  float:right;
  font-size:12px;
    line-height:30px;
}
table
{
  clear:both;
  width:95%;
  margin:0 auto;
  color:#5B5B5B;
  font-size:12px;
  padding-top:10px;
  padding-bottom:20px;
  border-bottom:1px dashed #ccc;
}
.right
{
  text-align:right;
}
.center
{
  text-align:center;
  padding-top:10px;
  padding-bottom: 21px
}
input[type=button]
{
  background-color:#00874C;
  outlie:none;
  border:1px solid #ccc;
  padding:10px;
  border-radius:5px;
  font-weight:bold;
  color:#fff;
  padding-left:30px;
  background-image:url("http://dc707.4shared.com/img/zr6_o80l/s3/13ffd4de138/cart.png");
  background-repeat:no-repeat;
  background-position:5px center;
}
input[type=button]:hover
{
  -moz-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  cursor:pointer;
  color:#f0f0f0;
}
.barcode
{
    height: 10px;
  width: 0;
  box-shadow:1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
  display:inline-block;
  margin-right:85px;
}
.sign
{
text-align:center;
}
.thankyou
{
  line-height:14px;
  font-size:14px;
  margin-top:5px;
  color:#5B5B5B;
  width:100%;
}

.nombreUsuario
{
    margin-right: 5px;

}

/* cards carritos */



#FORM_55 {
    color: rgb(51, 51, 51);
    width: 974px;
    perspective-origin: 487px 0px;
    transform-origin: 487px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_55*/

#DIV_1 {
    color: rgb(51, 51, 51);
    float: left;
    height: 429px;
    width: 288px;
    perspective-origin: 159px 234.5px;
    transform-origin: 159px 234.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 20px 40px 10px;
}/*#DIV_1*/

#DIV_2 {
    color: rgb(51, 51, 51);
    height: 359px;
    width: 288px;
    perspective-origin: 144px 179.5px;
    transform-origin: 144px 179.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2*/

#DIV_3 {
    background-position: 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px 0px, rgba(0, 0, 0, 0.298039) 0px 10px 10px -5px;
    color: rgb(102, 102, 102);
    height: 359px;
    position: relative;
    width: 288px;
    perspective-origin: 144px 179.5px;
    transform-origin: 144px 179.5px;
    background: rgb(255, 255, 255) url(https://static.licdn.com/scds/common/u/images/apps/payments/textures/texture_paper_304x128_v1.png) repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    margin: 70px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    background-position: 0px 0px;
    bottom: -8px;
    color: rgb(102, 102, 102);
    height: 10px;
    left: 0px;
    position: absolute;
    width: 288px;
    perspective-origin: 144px 5px;
    transform-origin: 144px 5px;
    content: ' ';
    background: rgba(0, 0, 0, 0) url(https://static.licdn.com/scds/common/u/images/apps/payments/textures/texture_paper_zigzag_288x18_v1.png) repeat-x scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_3:after*/

#DIV_4 {
    color: rgb(102, 102, 102);
    height: 18px;
    width: 248px;
    perspective-origin: 144px 19px;
    transform-origin: 144px 19px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 20px 20px 0px;
}/*#DIV_4*/

#DIV_4:after {
    background-position: 0px 0px;
    color: rgb(102, 102, 102);
    height: 28px;
    position: absolute;
    right: -27px;
    top: 2px;
    width: 57px;
    perspective-origin: 28.5px 14px;
    transform-origin: 28.5px 14px;
    content: ' ';
    background: rgba(0, 0, 0, 0) url(https://static.licdn.com/scds/common/u/images/apps/payments/photo/photo_paperclip_57x28_v1.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_4:after*/

#DIV_5 {
    color: rgb(102, 102, 102);
    height: 18px;
    width: 248px;
    perspective-origin: 124px 9px;
    transform-origin: 124px 9px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_5*/

#DIV_6 {
    color: rgb(67, 70, 73);
    height: 18px;
    width: 248px;
    perspective-origin: 124px 9px;
    transform-origin: 124px 9px;
    border: 0px none rgb(67, 70, 73);
    font: normal normal normal 16px/18px Helvetica, Arial, sans-serif;
    outline: rgb(67, 70, 73) none 0px;
}/*#DIV_6*/

#DIV_7, #DIV_8 {
    color: rgb(102, 102, 102);
    width: 248px;
    perspective-origin: 124px 0px;
    transform-origin: 124px 0px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_7, #DIV_8*/

#DIV_9 {
    color: rgb(102, 102, 102);
    height: 301px;
    position: relative;
    width: 248px;
    perspective-origin: 144px 160.5px;
    transform-origin: 144px 160.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 20px 20px;
}/*#DIV_9*/

#TABLE_10 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 301px;
    width: 248px;
    perspective-origin: 124px 150.5px;
    transform-origin: 124px 150.5px;
    border: 0px none rgb(102, 102, 102);
    border-spacing: 0px 0px;
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TABLE_10*/

#TBODY_11 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 183px;
    vertical-align: baseline;
    width: 248px;
    perspective-origin: 124px 91.5px;
    transform-origin: 124px 91.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TBODY_11*/

#TR_12 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 65px;
    width: 248px;
    perspective-origin: 124px 32.5px;
    transform-origin: 124px 32.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_12*/

#TH_13 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 51px;
    text-align: left;
    vertical-align: top;
    width: 146px;
    perspective-origin: 73px 32.5px;
    transform-origin: 73px 32.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal bold 14px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 0px;
}/*#TH_13*/

#TD_14 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 51px;
    text-align: center;
    vertical-align: top;
    width: 23px;
    perspective-origin: 14.5px 32.5px;
    transform-origin: 14.5px 32.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 6px 0px 0px;
}/*#TD_14*/

#TD_15 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 51px;
    text-align: right;
    vertical-align: top;
    width: 73px;
    perspective-origin: 36.5px 32.5px;
    transform-origin: 36.5px 32.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 0px;
}/*#TD_15*/

#TR_16 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 52px;
    width: 248px;
    perspective-origin: 124px 26px;
    transform-origin: 124px 26px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_16*/

#TD_17 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 38px;
    text-align: left;
    vertical-align: top;
    width: 248px;
    perspective-origin: 124px 26px;
    transform-origin: 124px 26px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 14px;
}/*#TD_17*/

#UL_18 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 34px;
    text-align: left;
    width: 248px;
    perspective-origin: 124px 17px;
    transform-origin: 124px 17px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 4px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px;
}/*#UL_18*/

#UL_18:after {
    border-collapse: collapse;
    clear: both;
    color: rgb(102, 102, 102);
    text-align: left;
    visibility: hidden;
    width: 248px;
    perspective-origin: 124px 0px;
    transform-origin: 124px 0px;
    content: ' ';
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
    overflow: hidden;
    padding: 0px;
}/*#UL_18:after*/

#LI_19 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 34px;
    width: 248px;
    perspective-origin: 124px 17px;
    transform-origin: 124px 17px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(102, 102, 102) none 0px;
}/*#LI_19*/

#LI_19:after {
    border-collapse: collapse;
    clear: both;
    color: rgb(102, 102, 102);
    display: block;
    height: 0px;
    visibility: hidden;
    width: 248px;
    perspective-origin: 124px 0px;
    transform-origin: 124px 0px;
    content: ' ';
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(102, 102, 102) none 0px;
    overflow: hidden;
}/*#LI_19:after*/

#TR_20 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 31px;
    width: 248px;
    perspective-origin: 124px 15.5px;
    transform-origin: 124px 15.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_20*/

#TH_21 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: left;
    vertical-align: top;
    width: 146px;
    perspective-origin: 73px 15.5px;
    transform-origin: 73px 15.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal bold 14px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 0px;
}/*#TH_21*/

#TD_22 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: center;
    vertical-align: top;
    width: 23px;
    perspective-origin: 14.5px 15.5px;
    transform-origin: 14.5px 15.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 6px 0px 0px;
}/*#TD_22*/

#TD_23 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 73px;
    perspective-origin: 36.5px 15.5px;
    transform-origin: 36.5px 15.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 0px;
}/*#TD_23*/

#TR_24 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 35px;
    width: 248px;
    perspective-origin: 124px 17.5px;
    transform-origin: 124px 17.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_24*/

#TD_25 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 21px;
    text-align: left;
    vertical-align: top;
    width: 248px;
    perspective-origin: 124px 17.5px;
    transform-origin: 124px 17.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 14px;
}/*#TD_25*/

#UL_26 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: left;
    width: 248px;
    perspective-origin: 124px 8.5px;
    transform-origin: 124px 8.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 4px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px;
}/*#UL_26*/

#UL_26:after {
    border-collapse: collapse;
    clear: both;
    color: rgb(102, 102, 102);
    text-align: left;
    visibility: hidden;
    width: 248px;
    perspective-origin: 124px 0px;
    transform-origin: 124px 0px;
    content: ' ';
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
    overflow: hidden;
    padding: 0px;
}/*#UL_26:after*/

#LI_27 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    width: 248px;
    perspective-origin: 124px 8.5px;
    transform-origin: 124px 8.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(102, 102, 102) none 0px;
}/*#LI_27*/

#LI_27:after {
    border-collapse: collapse;
    clear: both;
    color: rgb(102, 102, 102);
    display: block;
    height: 0px;
    visibility: hidden;
    width: 248px;
    perspective-origin: 124px 0px;
    transform-origin: 124px 0px;
    content: ' ';
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(102, 102, 102) none 0px;
    overflow: hidden;
}/*#LI_27:after*/

#TFOOT_28 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 118px;
    vertical-align: baseline;
    width: 248px;
    perspective-origin: 124px 59px;
    transform-origin: 124px 59px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TFOOT_28*/

#TR_29 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 33px;
    width: 248px;
    perspective-origin: 124px 16.5px;
    transform-origin: 124px 16.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_29*/

#TH_30 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 146px;
    perspective-origin: 73px 16.5px;
    transform-origin: 73px 16.5px;
    border-top: 1px dashed rgb(170, 170, 170);
    border-right: 0px none rgb(102, 102, 102);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 1px;
}/*#TH_30*/

#TD_31 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 29px;
    perspective-origin: 14.5px 16.5px;
    transform-origin: 14.5px 16.5px;
    border-top: 1px dashed rgb(170, 170, 170);
    border-right: 0px none rgb(102, 102, 102);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 1px;
}/*#TD_31*/

#TD_32 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 73px;
    perspective-origin: 36.5px 16.5px;
    transform-origin: 36.5px 16.5px;
    border-top: 1px dashed rgb(170, 170, 170);
    border-right: 0px none rgb(102, 102, 102);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 1px;
}/*#TD_32*/

#TR_33, #TR_41 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 19px;
    width: 248px;
    perspective-origin: 124px 9.5px;
    transform-origin: 124px 9.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_33, #TR_41*/

#TH_34, #TH_42 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 146px;
    perspective-origin: 73px 9.5px;
    transform-origin: 73px 9.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 1px 0px;
}/*#TH_34, #TH_42*/

#TD_35, #TD_43 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 29px;
    perspective-origin: 14.5px 9.5px;
    transform-origin: 14.5px 9.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 1px 0px;
}/*#TD_35, #TD_43*/

#TD_36, #TD_44 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 73px;
    perspective-origin: 36.5px 9.5px;
    transform-origin: 36.5px 9.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 1px 0px;
}/*#TD_36, #TD_44*/

#TR_37 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_37*/

#TH_38 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: auto;
    text-align: right;
    vertical-align: top;
    width: 59%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 1px 0px;
}/*#TH_38*/

#TD_39, #TD_40 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: auto;
    text-align: right;
    vertical-align: top;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 1px 0px;
}/*#TD_39, #TD_40*/

#TR_45 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 47px;
    width: 248px;
    perspective-origin: 124px 23.5px;
    transform-origin: 124px 23.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#TR_45*/

#TH_46 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 32px;
    text-align: right;
    vertical-align: top;
    width: 146px;
    perspective-origin: 73px 23.5px;
    transform-origin: 73px 23.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal bold 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 1px;
}/*#TH_46*/

#SPAN_47 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    display: block;
    height: 17px;
    text-align: right;
    width: 146px;
    perspective-origin: 73px 16px;
    transform-origin: 73px 16px;
    border-top: 1px dashed rgb(170, 170, 170);
    border-right: 0px none rgb(102, 102, 102);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 0px none rgb(102, 102, 102);
    font: normal normal bold 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 0px;
}/*#SPAN_47*/

#TD_48 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 32px;
    text-align: right;
    vertical-align: top;
    width: 29px;
    perspective-origin: 14.5px 23.5px;
    transform-origin: 14.5px 23.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 1px;
}/*#TD_48*/

#SPAN_49 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    display: block;
    height: 0px;
    text-align: right;
    width: 29px;
    perspective-origin: 14.5px 7.5px;
    transform-origin: 14.5px 7.5px;
    border-top: 1px dashed rgb(170, 170, 170);
    border-right: 0px none rgb(102, 102, 102);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 0px;
}/*#SPAN_49*/

#TD_50 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    height: 32px;
    text-align: right;
    vertical-align: top;
    width: 73px;
    perspective-origin: 36.5px 23.5px;
    transform-origin: 36.5px 23.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 1px;
}/*#TD_50*/

#SPAN_51 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    display: block;
    height: 17px;
    text-align: right;
    width: 73px;
    perspective-origin: 36.5px 16px;
    transform-origin: 36.5px 16px;
    border-top: 1px dashed rgb(170, 170, 170);
    border-right: 0px none rgb(102, 102, 102);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 0px none rgb(102, 102, 102);
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 14px 0px 0px;
}/*#SPAN_51*/

/*Botones paginacion*/
.botones-paginacion > div > button{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
}

.botones-paginacion{
    display: flex;
    justify-content: center;
}

.botones-paginacion > div > button:hover{
    background-color: rgb(77, 77, 77);
}

.texto-404{
    font-size: 70px!important;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.E404{
    margin: 100px 0;
}

