<div class="container my-5">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Carrito actual</span>
                <span class="badge badge-secondary badge-pill">{{cantidadCarrito}}</span>
            </h4>
            <ul class="list-group mb-3 sticky-top">
               <app-item-subcarrito *ngFor="let itemCarrito of carrito?.items" [item]="itemCarrito"></app-item-subcarrito>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total </span>
                    <strong>${{carrito?.precioTotal}}</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h3 class="mb-3">¡Complete datos de contacto para la compra!</h3>

            <form class="needs-validation" (submit)="guardar($event)">
                <div class="row"  *ngIf="!chequeoCliente">
                    <div class="col-md-6 mb-3" >
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombreCliente" placeholder=""  required="">
                        <div class="invalid-feedback"> Este campo es obligatorio. </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellidoCliente" placeholder=""required="">
                        <div class="invalid-feedback"> Este campo es obligatorio. </div>
                    </div>
                </div>
                <div class="mb-3" *ngIf="!chequeoCliente">
                    <label for="email">Email </label>
                    <input type="email" class="form-control" id="email" name="emailCliente">
                    <div class="invalid-feedback"> Por favor escriba un mail valido. </div>
                </div>
                <hr class="mb-4" *ngIf="cliente">
                <div class="custom-control custom-checkbox" *ngIf="cliente">
                    <input type="checkbox" class="custom-control-input" id="cliente" name="cliente" [value]="cliente.id" (click)="deshabilitar($event)">
                    <label class="custom-control-label" for="cliente">El pedido va a estar a mi nombre </label>
                    <div class="alert alert-success" role="alert" *ngIf="chequeoCliente">
                        Nombre completo: {{cliente.nombre}} {{cliente.apellido}} <br>
                        Email: {{cliente.email}}
                      </div>
                </div>
                <hr class="mb-4">
                <h3 class="mb-3">Dirección de envio</h3>
                <div class="mb-3"  *ngIf="!chequeoDireccion">
                    <label for="address">Calle</label>
                    <input type="text" class="form-control" id="calle" name="calle"  required="" >
                    <div class="invalid-feedback"> Escriba la calle correctamente. </div>
                </div>
                <div class="row"  *ngIf="!chequeoDireccion">
                    <div class="col-md-4 mb-3">
                        <label for="zip">Altura</label>
                        <input type="text" class="form-control" id="zip"   name="altura" placeholder="" carequired="">
                        <div class="invalid-feedback"> Altura es requerida. </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="zip">Piso</label>
                        <input type="text" class="form-control" id="piso" ame="piso" placeholder="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="zip">Departamento</label>
                        <input type="text" class="form-control" id="depto" name="departamento" placeholder="">
                    </div>
                </div>
                <div class="mb-3"  *ngIf="!chequeoDireccion">
                    <label for="address">Localidad</label>
                    <input type="text" class="form-control" id="localidad"   name="localidad"  required="">
                    <div class="invalid-feedback"> Escriba la localidad correctamente. </div>
                </div>
                <div class="mb-3"  *ngIf="!chequeoDireccion">
                    <label for="address">Provicia</label>
                    <input type="text" class="form-control" id="provincia"   name="provincia" required="">
                    <div class="invalid-feedback"> Escriba la provincia correctamente. </div>
                </div>
                <hr class="mb-4" *ngIf="direccion">
                <div class="custom-control custom-checkbox" *ngIf="direccion">
                    <input type="checkbox" class="custom-control-input" id="existeDireccion" name="direccion" [value]="direccion.id"  (click)="deshabilitarDireccion($event)">
                    <label class="custom-control-label" for="existeDireccion">Quiero que me envien el pedido a mi direccion de registro</label>
                    <div class="alert alert-success" role="alert"  *ngIf="chequeoDireccion">
                        Calle y altura: {{direccion.calle}} {{direccion.altura}} <br>
                        Piso: {{direccion.piso}} <br>
                        Departamento: {{direccion.depto}} <br>
                        Localidad: {{direccion.localidad}} <br>
                        Provincia: {{direccion.provincia}}
                      </div>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Metodo de pago</h4>
                <div class="d-block my-3">
                    <app-item-pago *ngFor="let medioDePago of mediosDePago" [pago]="medioDePago" (cambioDePago) = "cambiarEstadoPago( $event )"></app-item-pago>
                </div>
                <div class="row" *ngIf="!chequeoEfectivo">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Nombre de la tarjeta</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="" >
                        <small class="text-muted">El mismo que figura en el dorso de la misma</small>
                        <div class="invalid-feedback"> El nombre es requerido</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Numero de la tarjeta</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="" >
                        <div class="invalid-feedback"> El numero es requerido </div>
                    </div>
                </div>
                <div class="row" *ngIf="!chequeoEfectivo">
                    <div class="col-md-4 mb-3">
                        <label for="cc-expiration">Fecha de vencimiento  </label><span>(MM/AA)</span>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="" >
                        <div class="invalid-feedback"> Fecha recomendada </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback"> Codigo obligatorio </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-success btn-lg btn-block" type="submit">Pagar</button>
            </form>
        </div>
    </div>
   
</div>